{% extends "layout.html" %}
{% block head %}
<title>Home</title>
{% endblock %}
{% block campoLoginOuCadastro %}
<div class="container campo-login">
{% if not username %}
	<h1 class="form-heading">Login de Usuário</h1>
	<table class="table">
		<tr>
			<input id="user" class="form-control" type="text" name="username" placeholder="username">
		</tr>
		<tr>
			<input id="password" class="form-control" type="password" name="password" placeholder="password">
		</tr>
		<tr><td><button id="btn-login" class="btn btn-primary">Login</button></td></tr>
	</table>
	<p><a href="/cadastro">Realize seu cadastro aqui</a></p>
{% else %}
	<h2 >Seja bem vindo, {{ name }}!</h1>
{% endif %}
</div>
{% endblock %}